section#index
    height: 100vh
    width: 100vw
    background-repeat: no-repeat
    background-position: center
    background-size: 100% auto

    div#footer
        position: fixed
        bottom: 0
        width: 100%
        text-align: right
        padding: 5px
        padding-right: 30px
        font-size: 18px

        a
            text-decoration: none

        img
            height: 30px
            cursor: pointer